/* 头像部分 */
.avatar-container {
    position: relative;
    display: inline-block;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 40px;
}

.sliding-door {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 28px);
    height: 0;
    background-color: #f2f2f2;
    /* 浅灰色背景 */
    opacity: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* 添加阴影效果 */
    transition: opacity 0.3s ease;
}

.avatar-container:hover .sliding-door {
    opacity: 1;
    height: 85px;
    /* 调整滑动门的高度 */
    top: calc(100% - 30px);
    /* 调整滑动门位置 */
    left: calc(0% + 15px);
}

.score-info {
    color: #333;
    /* 文字颜色为深灰色 */
    text-align: left;
    position: absolute;
    top: 10%;
    /* 调整文字偏上的位置 */
    bottom: 10%;
    left: 55%;
    transform: translateX(-50%);
    width: 85%;
}

.score-info p {
    font-size: 15px;
    /* 修改为你需要的大小 */
}

/* 标题部分 */

h1 {
    text-align: center;
    margin-top: -110px;
    font-size: 60px;
}

/* 搜索框 */
#search-form {
    text-align: center;
}

.search-box {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-input {
    padding: 10px;
    width: 450px;
}

.search-button,
.filter-button {
    padding: 10px 20px;
    margin-left: 10px;
}

.search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.filter-button {
    background-color: #eee;
    color: #333;
    border: none;
}